@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.login-register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('src/assets/Login-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.login-register-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
  z-index: 1;
}

.logo {
  font-size: 7.5rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  z-index: 1;
}

.wrapper {
  position: relative;
  width: 420px;
  height: 450px;
  background: rgba(16, 11, 11, 0.7); 
  backdrop-filter: blur(30px); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  z-index: 2;
  padding: 20px;
}

.wrapper.active {
  height: 520px;
}

.form-box {
  width: 100%;
  padding: 20px 10px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.form-box.login {
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transform: translateX(-100%);
}

.form-box.register {
  transform: translateX(100%);
}

.wrapper.active .form-box.register {
  transform: translateX(0);
}

form h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .1);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px; 
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

form button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-top: 20px;
}

.register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .logo {
    font-size: 6rem;
  }

  .wrapper {
    width: 90%;
  }

  form h1 {
    font-size: 32px;
  }

  .input-box {
    margin: 20px 0;
  }

  .input-box input {
    padding: 15px 35px 15px 15px;
  }

  .input-box .icon {
    font-size: 14px;
  }

  form button {
    height: 40px;
    font-size: 14px;
  }

  .register-link {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 4.5rem;
  }

  form h1 {
    font-size: 28px;
  }

  .input-box input {
    padding: 10px 30px 10px 10px;
  }

  .input-box .icon {
    font-size: 12px;
  }

  form button {
    height: 35px;
    font-size: 12px;
  }

  .register-link {
    font-size: 10px;
  }
}
